.Home {

    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(235, 235, 235);

}

.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.hero {

    color: black;
    justify-self: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        font-size: 6rem;
        font-weight: lighter;
        background: linear-gradient(45deg,magenta, blue);
        -webkit-background-clip: text;
        color: transparent;
    }

    p {
        margin-top: 2rem;
        font-size: 2rem;
        width: 50%;
        font-weight: lighter;
    }
    
}

.freakyLetters {
    justify-self: start;
    align-self: center;
}
.separator {
    height: 5px;
    width: 50%;
    background: linear-gradient(45deg,magenta, blue);
}

@media screen and (max-width:1000px) {
    .gridContainer{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .hero {
        h1 {
            font-size: 4rem;
        }
        p {
            width: 60%;
            padding: 1rem;
        }
    }
    .freakyLetters{
        justify-self: center;
        align-self: start;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
}

@media screen and (max-width:600px) {
    .hero{
        h1 {
            font-size: 3rem;
        }
        p{
            font-size: 1.5rem;
            width: 300px;   
        }
    }
}