@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Indie+Flower&display=swap');

.Home {

    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color:white;
    font-family: 'Courier New', Courier, monospace;

}

.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.hero {

    justify-self: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        font-size: 6rem;
        font-weight: lighter;
        // background: linear-gradient(45deg,magenta, blue);
        //-webkit-background-clip: text;
        //color: transparent;
        opacity: 0;
    }

    p {
        margin-top: 1rem;
        font-size: 2rem;
        width: 50%;
        font-weight: lighter;
        opacity: 0;
    }
    
}

.freakyLetters {
    justify-self: start;
    align-self: center;
}
.separator {
    height: 5px;
    width: 50%;
    //background: linear-gradient(45deg,magenta, blue);
    background-color: white;
    opacity: 0;
}

@media screen and (max-width:1000px) {
    .gridContainer{
        display: flex;
        flex-direction: column;
    }
    .hero {
        h1 {
            font-size: 4rem;
        }
        p {
            width: 60%;
        }
    }
    .freakyLetters{
        justify-self: center;
        margin-top: 2.5rem;
    }
}

@media screen and (max-width:600px) {
    .hero{
        h1 {
            font-size: 3rem;
        }
        p{
            font-size: 1.5rem;
            width: 300px;   
        }
    }
}