.footer {
    background-color: rgba(0,0,0,0.1);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    div {
        display: flex;
        gap: 5px;
    }
}