.Letter {

    height: 180px;
    width: 90px;
    display: flex;
    @media screen and (max-width:1200px) {
        height: 150px;
        width: 75px;
    }
    @media screen and (max-width:1000px) {
        height: 100px;
        width: 50px;
    }
    @media screen and (max-width:400px) {
        height: 70px;
        width: 35px;
    }

}