$maxWidth: 40rem;
.main {
    margin: auto;
    max-width: $maxWidth;
    height: 100vh;
    font-family: 'Times New Roman', Times, serif;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: 'Courier New', Courier, monospace;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-color: rgb(255, 250, 238);
    color: black;
    position: relative;

    h1 {
        align-self: flex-start;
        font-weight: bolder;
    }

    h3 {
        color: rgb(99, 70, 1);
    }

    overflow-y: scroll;
}


.head {
    display: flex;
    align-items: center;
    gap: .5rem;
    width: 100%;
    padding: 10px;
    img {
        width:  60px;
        height: 60px;
        border-radius: 100%;
    }
    div {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        p {
            &:nth-child(1){
                font-size: .8rem;
            }
        }
        a {
            &:hover {
                color: rgb(99, 70, 1);
            }
        }
    }
}

.image {
    width: 100%;
}

.span_on {
    background-color: rgb(252, 218, 138);
    color: black;
    transition: .3s;
    box-shadow: 0 5px 0px #00000050; 
    
}

.span {
    cursor: none;
}