$image-size: 200px;

.Hero {

    background-color: darkblue;
    color: black;
    font-size: 4rem;
    height: calc(100vh - 4rem);
    width: calc(100vw -  4rem);
    margin: 2rem;
    border-radius: $image-size/2 $image-size/8 $image-size/8 $image-size/8;

    display: grid;
    grid-template-columns: $image-size 1fr;
    grid-template-rows: 3fr 1fr;
    overflow: hidden;

    .Image {

        width: $image-size;
        height: 100%;
        border-radius: $image-size/2 0 0 0;
        margin: 1px;
        background-color: black;
        opacity: .9;

    }

    .navBar {
        justify-self: end;
        align-self: end;
        display: flex;
        flex-direction: column;
        padding-right: 2rem;
        font-size: 2rem;
        text-align: end;
    }

    .name {
        align-self: end;
        transform: translateY(35px) translateX(-1px);
    }

}
