$image-size: 200px;

.Hero {

    background-color: darkblue;
    color: black;
    font-size: 4rem;
    height: calc(100vh - 4rem);
    width: calc(100vw -  4rem);
    margin: 2rem;
    border-radius: $image-size/2 $image-size/8 $image-size/8 $image-size/8;

    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 8fr 1fr;
    overflow: hidden;

    cursor:crosshair;

    .Image {

        width: 100%;
        height: 100%;
        border-radius: $image-size/2 0 0 0;
        margin: 1px;
        background-color: black;
        opacity: .9;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-shadow: 0 0 5px lightblue;
        h1 {
            font-weight: lighter;
        }
        p {
            font-size: 3rem;
        }

    }

    .navBar {
        justify-self: end;
        align-self: end;
        display: flex;
        flex-direction: column;
        padding-right: 1rem;
        padding-left: 1rem;
        font-size: 2rem;
        text-align: center;
        transition: .4s;
        .navButton {
            transition: .4s;
            color: white;
            text-shadow: 0 0 2px white;
            &:hover {
                background-color: rgb(0, 0, 64);
                color: white;
                transition: .4s;
                padding: 1rem;
                border-radius: 6px;
            }
        }
    }

    .name {
        grid-column: span 2;
        align-self: end;
        //transform: translateY(35px) translateX(-1px);
        text-align: center;
        
    }

}
