@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;900&display=swap');

.PerlinNoise {
    width: 100vw;
    height: 100vh;
    background: 
    url(https://grainy-gradients.vercel.app/noise.svg);
    opacity: .4;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}
.PortfolioPage {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Roboto Slab', serif;
}
